.container{
    display: flex;
    height: calc(100vh - 70px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32 px 0 rgba(0, 0, 0, 0.37);
}

.card-list{
    width: 40%;
    margin: 16px;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32 px 0 rgba(0, 0, 0, 0.37);
}

.card-list-header{
    position: relative;
    text-align: center;
    color: white;
    font-size: large;
}

.search-bar{
    
    border-style:hidden;
    border-radius: 20px;
    margin: 10px;
    width: 90%;
}

.card{
    width: 100%;
    margin: 16px;
    border-radius: 16px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32 px 0 rgba(0, 0, 0, 0.37);
}

.card-header{
    position: relative;
    text-align: center;
    color: white;
    font-size: large;
}

.input-group{
    border-style:hidden;
    border-radius: 20px;
    margin: 10px;
    position:fixed;
    bottom: 0;
    width: auto;
    min-width: 80%;
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    color: white;
    min-width: 50.01%;
    text-align: left;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32 px 0 rgba(0, 0, 0, 0.37);
}

.recibido{
    display: block;
    float: left;
    color: white;
    min-width: 50.01%;
    text-align: left;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32 px 0 rgba(0, 0, 0, 0.37);
}

.contenedordeMensajes{
    overflow: scroll;
    padding: 0.3rem;
}

.contenedordeMensajes::-webkit-scrollbar{
    display: none;
}
