<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="pt-5" align="center">
        <div  class="form-control h-100" style="width: 30%; max-width: 400px;min-width: 300px;">
            <h2 style="color: rgb(0, 0, 0);">Santiago Aguado 4A</h2>
            <!--subir imagen mía en el src del img-->
            <img src="../../../assets/yo.jpeg" style="width: 175px;border-radius: 25px;border-color: white;" border="5">
            <br>
            <a style="color: lawngreen;" href="https://github.com/santiart">Github</a>
            <br>
            <p style="color: white">
                Soy un Alumno de la UTN.
                En este sitio podran encontrar distos juegos como "Ahorcado", 
                "Mayor o Menor","Preguntados", un juego "Laberinto" y un chat para hablar .Todo esto forma parte de un trabajo practico. Que te diviertas!!!
            </p>
            <div class="form-control h-100 mt-4" style="width: 30%; max-width: 400px;min-width: 300px;">
                <p style="color: white">
                    EXPLICACIÓN DEL JUEGO<br>
                    Es un Laberinto normal, como el que solíamos encontrar en diarios y otros lugares. Pero este tiene la particularidad de poder aumentar la cantidad de filas y columnas que va a tener el laberinto, ideal si te gustan los desafíos. Si te diste cuenta que se te fué la mano y necesitas ayuda, también podés solicitar la respuesta al camino. Que lo disfrutes!!!
                </p>
            </div>
        </div>       
    </div>
</body>